<ion-header>
  <ion-toolbar color="head">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>All Music</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher> -->

  <ion-grid class="searchbar"  no-padding no-margin>
    <ion-row justify-content-center  no-padding no-margin>
      <ion-col col-xl-4 col-lg-3 col-md-4 no-padding no-margin>
        <ion-item lines='none'>
          <ion-label>Show</ion-label>
          <ion-select interface="popover" [(ngModel)]="page_size" name="ionSelect" (ionChange)="getDataMusic()">
            <ion-select-option value="8">8</ion-select-option>
            <ion-select-option value="20">20</ion-select-option>
            <ion-select-option value="40">40</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col col-xl-8 col-lg-9 col-md-8 no-padding no-margin>
        <ion-row  justify-content-center>
            <ion-searchbar placeholder="Search Music" debounce="500" [(ngModel)]="search" (ionChange)="getDataMusic()"></ion-searchbar>
        </ion-row>
      </ion-col>
      <!-- <ion-col size="1">

      </ion-col> -->
    </ion-row>
  </ion-grid>

  <ion-grid class="card-content--lists">
    <ion-row justify-content-center>
      <ion-col *ngFor ="let data of safeUrl"  size="auto" col-12 col-xl-2 col-lg-3 col-md-4 > 
        <ion-card no-padding no-margin>
          <iframe  [src]="data.url">
          </iframe>
          <div class="header">
            <div class="title FFR08">{{data.title}}</div>
            <div class="subtitle FFR06">{{data.artist}}</div>
          </div>
          <ion-item class="footer " lines="none" float-right   no-padding no-margin>
              <ion-button (click)="sendIdMusic(data.id)" type="submit" class="FFR01 BTN001"  >Read More...</ion-button>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- mas bagus buat -->
  <!-- <ion-grid class="paginations">

      <ion-row>
        
        <ion-col size=2>
            <ion-button 
            (click)="nextPrev('prev')"
            [disabled]="resp?.page_information?.currentPage === resp?.page_information?.firstPage">
              Prev
            </ion-button>
        </ion-col> 
        <ion-col *ngIf="resp?.page_information?.currentPage != resp?.page_information?.firstPage" (click)="nextPrev('first')">
          <ion-row justify-content-end>
            <ion-button color="warning">
              1
            </ion-button>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row justify-content-center >
            <ion-button color="warning" disabled>
              {{resp?.page_information?.currentPage}}
            </ion-button>
          </ion-row>
        </ion-col>
        
        <ion-col size=1 class="sparator"  *ngIf="resp?.page_information?.currentPage != resp?.page_information?.totalPage">
          .....
        </ion-col>
        <ion-col *ngIf="resp?.page_information?.currentPage != resp?.page_information?.totalPage" (click)="nextPrev('last')">
          <ion-row justify-content-center >
            <ion-button color="warning">
              {{resp?.page_information?.totalPage}}
            </ion-button>
          </ion-row>
        </ion-col>      
        <ion-col size=2>
            <ion-button 
            (click)="nextPrev('next')"
            [disabled]="resp?.page_information?.currentPage === resp?.page_information?.totalPage" float-right>
              Next
            </ion-button>
        </ion-col>
      </ion-row>
  </ion-grid> -->

  <ion-grid style="padding: 0px !important; margin : 0px, 2px;" class="paginations">
    <ion-row>
      <ion-col class="col-pag">
        <ion-row justify-content-end>
          <ion-button 
          (click)="nextPrev('prev')"
          [disabled]="resp?.page_information?.currentPage === resp?.page_information?.firstPage">
            Prev
          </ion-button>
        </ion-row>
      </ion-col> 
      <ion-col class="sparator col-pag" *ngIf="resp?.page_information?.currentPage != resp?.page_information?.firstPage" (click)="nextPrev('first')">
        <ion-row justify-content-center>
          <ion-text class="FFR06" style="color: var(--CR003);">
            1
          </ion-text>
        </ion-row>
      </ion-col>
      <ion-col class="sparator col-pag">
        <ion-row justify-content-center >
          <ion-text class="FFR06" style="color: var(--CR004);">
            {{resp?.page_information?.currentPage}}
          </ion-text>
        </ion-row>
      </ion-col>
      <ion-col class="sparator col-pag"  *ngIf="resp?.page_information?.currentPage != resp?.page_information?.totalPage">
        <ion-row justify-content-center>
          <ion-text class="FFR06" style="color: var(--CR003);">
            ...
          </ion-text>
        </ion-row>
      </ion-col>
      <ion-col class="sparator col-pag" *ngIf="resp?.page_information?.currentPage != resp?.page_information?.totalPage" (click)="nextPrev('last')">
        <ion-row justify-content-center >
          <ion-text class="FFR06" style="color: var(--CR003);">
            {{resp?.page_information?.totalPage}}
          </ion-text>
        </ion-row>
      </ion-col>      
      <ion-col class="col-pag">
        <ion-row justify-content-start>
          <ion-button 
          (click)="nextPrev('next')"
          [disabled]="resp?.page_information?.currentPage === resp?.page_information?.totalPage" float-right>
            Next
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
