.card_music{
    width: 315px;
    min-height : 315px;
    float : inline-start;
}

.yt{
    width :315px;
    max-height: 315px;
}

.searchbar{
    max-width: 100%;
}

.marginku{
    // margin: relative;
    position: relative;
}