.card_music{
    width: 100%;
    min-height : 315px;
    float : inline-start;
}

.yt{
    width :100%;
    max-height: 315px;
}

.searchbar{
    max-width: 80%;
}

.marginku{
    // margin: relative;
    position: relative;
}