<ion-header>
  <ion-toolbar color="head">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Review Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="view-schedule">
  <ion-card *ngIf="resp">
    
    <ion-row justify-content-center>
      <img [src]="resp?.file" alt="" class="headerImg">
    </ion-row>
    <ion-row class="title">
        <ion-col class="FFB06">
          {{resp?.event_name}}
        </ion-col >
    </ion-row>
    <ion-row class="date">
        <ion-col  class="FFR03" text-right>
            {{resp?.event_date | date: 'EEE, d MMM y'}}
        </ion-col >
    </ion-row>
    <ion-grid>
      <ion-row class="label">
          <ion-col size=12 class="FFB05">Member List</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size=3>Vocalis</ion-col>
        <ion-col size=9>{{resp?.vokalis}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size=3>Song Leader</ion-col>
        <ion-col size=9>{{resp?.song_leader}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size=3>Basis</ion-col>
        <ion-col size=9>{{resp?.basis}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size=3>Drummer</ion-col>
        <ion-col size=9>{{resp?.drummer}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size=3>Gitaris</ion-col>
        <ion-col size=9>{{resp?.gitaris}}</ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row class="FFB05 label">Music List</ion-row>
        <ion-row *ngFor="let music of resp?.music_name">
          <ion-col size="12">
            <ion-card-subtitle>{{music}}</ion-card-subtitle>
          </ion-col>
        </ion-row>
    </ion-grid>  
  </ion-card>

  <ion-card *ngIf="!resp" color="light">
    <img [src]="resp?.file" alt="">
    <ion-card-title color="warning">NAMA EVENT</ion-card-title>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    <ion-card-subtitle>Tanggal Event</ion-card-subtitle>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-card-title color="warning">Member List</ion-card-title>
          <ion-row>
            <ion-col size="12">
              <ion-text>
                Vokalis
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-text>
                Song Leader
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-text>
                Basis
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-text>
                Drummer
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-text>
                Gitaris
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-card-title color="warning">Music List</ion-card-title>
          <ion-row>
            <ion-col size="12">
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>  
  </ion-card>
</ion-content>
