<ion-header>
  <ion-toolbar color="head">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Review Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card *ngIf="resp" color="light">
    <ion-row justify-content-center>
      <img [src]="resp?.file" alt="" class="headerImg">
    </ion-row>
    <ion-card-title>{{resp?.event_name}}</ion-card-title>
    <ion-card-subtitle>{{resp?.event_date | date: 'EEE, d MMM y'}}</ion-card-subtitle>
    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-card-title>Member List</ion-card-title>
          <ion-row>
            <ion-col size="12">
              <ion-card-subtitle class="sub">Vokalis</ion-card-subtitle>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let data of resp?.vokalis">
            <ion-col size="12">
              {{data}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-card-subtitle class="sub">Song Leader</ion-card-subtitle>
            </ion-col>
          </ion-row>
          <ion-row *ngFor="let data of resp?.song_leader">
            <ion-col size="12">
              {{data}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-card-subtitle class="sub">Basis</ion-card-subtitle>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
                {{resp?.basis}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-card-subtitle class="sub">Drummer</ion-card-subtitle>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
                {{resp?.drummer}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-card-subtitle class="sub">Gitaris</ion-card-subtitle>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
                {{resp?.gitaris}}
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-card-title>Music List</ion-card-title>
          <ion-row *ngFor="let music of resp?.music_name">
            <ion-col size="12">
              <ion-card-subtitle>{{music}}</ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>  
  </ion-card>

  <ion-card *ngIf="!resp" color="light">
    <img [src]="resp?.file" alt="">
    <ion-card-title color="warning">NAMA EVENT</ion-card-title>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    <ion-card-subtitle>Tanggal Event</ion-card-subtitle>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    <ion-grid fixed>
      <ion-row>
        <ion-col>
          <ion-card-title color="warning">Member List</ion-card-title>
          <ion-row>
            <ion-col size="12">
              <ion-text>
                Vokalis
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-text>
                Song Leader
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-text>
                Basis
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-text>
                Drummer
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-text>
                Gitaris
              </ion-text>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-card-title color="warning">Music List</ion-card-title>
          <ion-row>
            <ion-col size="12">
              <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>  
  </ion-card>
</ion-content>
