<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add Article</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-grid fixed color="dark">
    <form id="loginForm" [hidden]="inputForm">
      <ion-row>
        <ion-col size="6">
          <ion-item color="dark">
            <ion-label position="stacked">Title</ion-label>
            <ion-input placeholder="Enter your article's name here" [(ngModel)]="data.title" name="title" type="text" spellcheck="false" autocapitalize="off"
              required>
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item color="dark">
            <ion-label position="stacked">Photo</ion-label>
            <ion-input type="file" accept="image/*" (change)="changeFile($event)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item color="dark">
          <ion-label position="floating">Content</ion-label>
            <ion-textarea placeholder="Please enter your article's content here" [(ngModel)]="data.content" name="content" rows="6" cols="20" spellcheck="false" autocapitalize="off"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button 
          (click)="submit()" 
          type="submit"
          [disabled]="!data.title || !data.image.base64 || !data.content"
          expand="block"
          color="warning">
          Add Article
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="4">
        <ion-item color="medium">
          <ion-label>Show</ion-label>
          <ion-select interface="popover" [(ngModel)]="page_size" (ionChange)="getData()">
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
            <ion-select-option value="15">15</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="8">
        <ion-searchbar color="medium" showCancelButton="focus" placeholder="Search Article..." debounce="500" [(ngModel)]="search" (ionChange)="getData()"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row class="forecast_container" nowrap>
      <!-- <ion-col size="1">
        <ion-row justify-content-center>
          No.
        </ion-row>
      </ion-col> -->
      <ion-col size="5">
        <ion-row justify-content-center (click)="changeSort('title')">
          Title
          <ion-icon name="arrow-dropdown" *ngIf="order_by === 'title' && sort_by === 'DESC'"></ion-icon>
          <ion-icon name="arrow-dropup" *ngIf="order_by === 'title' && sort_by === 'ASC'"></ion-icon>
        </ion-row>
      </ion-col>
      <ion-col size="5">
        <ion-row justify-content-center>
          Picture
        </ion-row>
      </ion-col>
      <ion-col size="2">
        <ion-row justify-content-center>
          Action
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let article of listData; index as i" class="forecast_container" nowrap>
      <!-- <ion-col size="1" align-self-center>
        <ion-row justify-content-center>
        {{i + 1}}
        </ion-row>
      </ion-col> -->
      <ion-col size="5" align-self-center>
        <ion-row justify-content-center>
          {{article?.title}}
        </ion-row>
      </ion-col>
      <ion-col align-self-center size="5">
        <ion-row justify-content-center>
          <ion-img class="yt" [src]="article.file ? article.file : imgNotFound"></ion-img>
        </ion-row>
      </ion-col>
      <ion-col size="2" align-self-center>
        <ion-row justify-content-center>
          <ion-row>
            <ion-col size="6">
              <ion-button color="warning" (click)="deleteArticle(article?.id)" type="submit">
                  <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-button color="warning" (click)="sendIdArticle(article?.id)" type="submit">
                  <ion-icon name="create"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-col>
    </ion-row>
    <div *ngIf="!resp">
      <ion-row *ngFor="let x of skeleton" class="forecast_container" nowrap>
        <!-- <ion-col size="1" align-self-center>
          <ion-row justify-content-center>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </ion-row>
        </ion-col> -->
        <ion-col align-self-center>
          <ion-row justify-content-center>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </ion-row>
        </ion-col>
        <ion-col align-self-center size="4">
          <ion-row justify-content-center>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </ion-row>
        </ion-col>
        <ion-col size="1" align-self-center>
          <ion-row justify-content-center>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </ion-row>
        </ion-col>
      </ion-row>
    </div>
    <ion-row>
      
      <ion-col *ngIf="resp?.page_information?.currentPage === resp?.page_information?.firstPage">
        <ion-row justify-content-end>
            
        </ion-row>
      </ion-col>
      <ion-col *ngIf="resp?.page_information?.currentPage != resp?.page_information?.firstPage" (click)="nextPrev('first')">
        <ion-row justify-content-end>
          <ion-button color="warning">
            1
          </ion-button>
        </ion-row>
      </ion-col>
      <ion-col >
        <ion-row justify-content-center>
          <ion-button color="warning" disabled>
            {{resp?.page_information?.currentPage}}
          </ion-button>
        </ion-row>
      </ion-col>
      <ion-col *ngIf="resp?.page_information?.currentPage != resp?.page_information?.totalPage" (click)="nextPrev('last')">
        <ion-row justify-content-start >
          <ion-button color="warning">
            {{resp?.page_information?.totalPage}}
          </ion-button>
        </ion-row>
      </ion-col>
      <ion-col *ngIf="resp?.page_information?.currentPage === resp?.page_information?.totalPage">
        <ion-row justify-content-start >
            
        </ion-row>
      </ion-col>
      
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row justify-content-start>
          <ion-button 
          (click)="nextPrev('prev')"
          [disabled]="resp?.page_information?.currentPage === resp?.page_information?.firstPage">
            Prev
          </ion-button>
        </ion-row>
      </ion-col>
      <ion-col>
          <ion-row justify-content-end>
            <ion-button 
            (click)="nextPrev('next')"
            [disabled]="resp?.page_information?.currentPage === resp?.page_information?.totalPage">
              Next
            </ion-button>
          </ion-row>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
