<ion-header>
  <ion-toolbar color="head">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Articles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="searchbar">
      <ion-searchbar placeholder="Search Article..." debounce="500" [(ngModel)]="search"></ion-searchbar>
  </ion-grid>

  <ion-grid class="card-content--lists">
    <ion-row>
      <ion-col *ngFor ="let data of listArticle" col-12 col-xl-2 col-lg-3 col-md-4 >
        <ion-card no-padding no-margin>
          <img [src]="data.file ? data.file : imgNotFound" alt="">
          <ion-card-header>
            <ion-card-title>{{data.title}}</ion-card-title>
            <ion-row>
              <ion-col size="6"  no-padding no-margin>{{data.name}}</ion-col>
              <ion-col size="6"  justify-content-end class="FFR01"  no-padding no-margin>{{data.createdAt | date: 'EEE, MMM d, y'}}</ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content  class="FFR04 elipsis">
              {{data.content}}
          </ion-card-content>
          <ion-item class="footer" lines="none" float-right  no-padding no-margin>
              <ion-button (click)="sendIdArticle(data.id)" class="FFR01" type="submit" >Read More...</ion-button>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
  <ion-grid class="paginations">

      <ion-row>
        
        <ion-col size=2>
            <ion-button 
            (click)="nextPrev('prev')"
            [disabled]="resp?.page_information?.currentPage === resp?.page_information?.firstPage">
              Prev
            </ion-button>
        </ion-col> 
        <ion-col *ngIf="resp?.page_information?.currentPage != resp?.page_information?.firstPage" (click)="nextPrev('first')">
          <ion-row justify-content-end>
            <ion-button color="warning">
              1
            </ion-button>
          </ion-row>
        </ion-col>
        <ion-col>
          <ion-row justify-content-center >
            <ion-button color="warning" disabled>
              {{resp?.page_information?.currentPage}}
            </ion-button>
          </ion-row>
        </ion-col>
        
        <ion-col size=1 class="sparator"  *ngIf="resp?.page_information?.currentPage != resp?.page_information?.totalPage">
          .....
        </ion-col>
        <ion-col *ngIf="resp?.page_information?.currentPage != resp?.page_information?.totalPage" (click)="nextPrev('last')">
          <ion-row justify-content-center >
            <ion-button color="warning">
              {{resp?.page_information?.totalPage}}
            </ion-button>
          </ion-row>
        </ion-col>      
        <ion-col size=2>
            <ion-button 
            (click)="nextPrev('next')"
            [disabled]="resp?.page_information?.currentPage === resp?.page_information?.totalPage" float-right>
              Next
            </ion-button>
        </ion-col>
      </ion-row>
  </ion-grid>
</ion-content>
