<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Articles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-row justify-content-center>
    <ion-searchbar placeholder="Search Article..." class="searchbar" debounce="500" [(ngModel)]="search"></ion-searchbar>
  </ion-row>
  <ion-grid style="margin-right: 1.5%" class="marginku">
    <ion-row justify-content-center>
      <ion-col *ngFor ="let data of listArticle" size="md">
        <ion-card class="card_schedule" color="medium">
          <img [src]="data.file ? data.file : imgNotFound" alt="">
          <ion-card-header>
            <ion-card-title color="light">{{data.title}}</ion-card-title>
            <ion-row>
              <ion-col size="6"><ion-card-subtitle>{{data.name}}</ion-card-subtitle></ion-col>
              <ion-col size="6"><ion-card-subtitle>
                <ion-row justify-content-end>
                  {{data.createdAt | date: 'EEE, MMM d, y'}}
                </ion-row>
              </ion-card-subtitle></ion-col>
            </ion-row>
            <ion-card-content>{{data.content}}...</ion-card-content>
          </ion-card-header>
          <ion-card-content>
            <ion-button (click)="sendIdArticle(data.id)" type="submit" color="warning">Read More...</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
