<ion-header>
  <ion-toolbar color="head">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Add Member</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <img src="assets/img/bg_4.jpg" class="headerImg" alt="JCOC Music Banner">
  <ion-row>
    <ion-col size="12">
      <ion-row justify-content-center>
        <ion-text color="head">
          <h1>Add Members</h1>
        </ion-text>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-grid fixed>
    <form id="loginForm">
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Name</ion-label>
            <ion-input [(ngModel)]="dataUser.name" name="name" type="text" spellcheck="false" autocapitalize="off"
              required>
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Username</ion-label>
            <ion-input [(ngModel)]="dataUser.username" name="username" type="text" spellcheck="false" autocapitalize="off"
              required>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Password</ion-label>
            <ion-input [(ngModel)]="pass" name="password" type="password" spellcheck="false" autocapitalize="off"
              required>
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Phone</ion-label>
            <ion-input [(ngModel)]="dataUser.phone" name="phone" type="text" spellcheck="false" autocapitalize="off"
              required>
            </ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item>
          <ion-label>Position</ion-label>
          <ionic-selectable
          [(ngModel)]="position"
          [items]="listPostions"
          itemValueField="id"
          itemTextField="position_name"
          [canSearch]="true"
          name="position"
          >
          </ionic-selectable>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
          <ion-label>Gender</ion-label>
          <ionic-selectable
          [(ngModel)]="selectGender"
          [items]="gender"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="true"
          name="gender"
          >
          </ionic-selectable>
          </ion-item> 
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input [(ngModel)]="dataUser.email" name="email" type="text" spellcheck="false" autocapitalize="off"
              required>
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label>Photo</ion-label>
            <ion-input type="file" accept="image/*" (change)="changeFile($event)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button   
          (click)="submit()" 
          type="submit" 
          [disabled]="!dataUser.username || !dataUser.name || !pass || !dataUser.name || !dataUser.email || !dataUser.phone || !dataUser.image.isImage || !position.id || !selectGender.id"
          expand="block">
          Add Member
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="4">
        <ion-item class="show-item CR004">
          <ion-label>Show</ion-label>
          <ion-select interface="popover" [(ngModel)]="page_size" (ionChange)="getMemberList()">
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
            <ion-select-option value="15">15</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="8">
        <ion-searchbar class="CR004" showCancelButton="focus" placeholder="Search Members..." debounce="500" [(ngModel)]="search" (ionChange)="getMemberList()"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row class="forecast_container" nowrap>
      <ion-col>
        <ion-row justify-content-center (click)="changeSort('name')">
          Name
          <ion-icon name="arrow-dropdown" *ngIf="order_by === 'name' && sort_by === 'DESC'"></ion-icon>
          <ion-icon name="arrow-dropup" *ngIf="order_by === 'name' && sort_by === 'ASC'"></ion-icon>
        </ion-row>
      </ion-col>
      <ion-col class="hide-mobile">
        <ion-row justify-content-center (click)="changeSort('email')">
          Email
          <ion-icon name="arrow-dropdown" *ngIf="order_by === 'email' && sort_by === 'DESC'"></ion-icon>
          <ion-icon name="arrow-dropup" *ngIf="order_by === 'email' && sort_by === 'ASC'"></ion-icon>
        </ion-row>
      </ion-col>
      <ion-col class="hide-mobile">
        <ion-row justify-content-center (click)="changeSort('phone')">
          Phone
          <ion-icon name="arrow-dropdown" *ngIf="order_by === 'phone' && sort_by === 'DESC'"></ion-icon>
          <ion-icon name="arrow-dropup" *ngIf="order_by === 'phone' && sort_by === 'ASC'"></ion-icon>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row justify-content-center (click)="changeSort('position_name')">
          Position
          <ion-icon name="arrow-dropdown" *ngIf="order_by === 'position_name' && sort_by === 'DESC'"></ion-icon>
          <ion-icon name="arrow-dropup" *ngIf="order_by === 'position_name' && sort_by === 'ASC'"></ion-icon>
        </ion-row>
      </ion-col>
      <ion-col size="3">
        <ion-row justify-content-center>
          Picture
        </ion-row>
      </ion-col>
      <ion-col size="3">
        <ion-row justify-content-center>
          Action
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let user of listMembers; index as i" class="forecast_container" nowrap>
      <ion-col align-self-center>
        <ion-row justify-content-center>
          {{user?.name}}
        </ion-row>
      </ion-col>
      <ion-col align-self-center class="hide-mobile">
        <ion-row justify-content-center>
          {{user?.email}}
        </ion-row>
      </ion-col>
      <ion-col align-self-center class="hide-mobile">
        <ion-row justify-content-center>
          {{user?.phone}}
        </ion-row>
      </ion-col>
      <ion-col align-self-center>
        <ion-row justify-content-center>
          {{user?.position_name}}
        </ion-row>
      </ion-col>
      <ion-col size="3" align-self-center>
        <ion-row justify-content-center>
          <ion-thumbnail>
            <img [src]="user?.file ? user.file : imgNotFound" />
          </ion-thumbnail>
          <!-- <ion-img [src]="user?.file ? user.file : imgNotFound" style="width: 100%; height: 100%"></ion-img> -->
        </ion-row>
      </ion-col>
      <ion-col size="3" align-self-center>
        <ion-row justify-content-center>
          <ion-row>
            <ion-col size="12">
              <ion-button   (click)="deleteUser(user?.id)" type="submit">
                  <ion-icon name="trash"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <ion-button   (click)="sendIdUser(user?.id)" type="submit">
                  <ion-icon name="create"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="padding: 0px !important; margin : 0px, 2px;" class="paginations">
    <ion-row>
      <ion-col class="col-pag">
        <ion-row justify-content-end>
          <ion-button 
          (click)="nextPrev('prev')"
          [disabled]="resp?.page_information?.currentPage === resp?.page_information?.firstPage">
            Prev
          </ion-button>
        </ion-row>
      </ion-col> 
      <ion-col class="sparator col-pag" *ngIf="resp?.page_information?.currentPage != resp?.page_information?.firstPage" (click)="nextPrev('first')">
        <ion-row justify-content-center>
          <ion-text class="FFR06" style="color: var(--CR003);">
            1
          </ion-text>
        </ion-row>
      </ion-col>
      <ion-col class="sparator col-pag">
        <ion-row justify-content-center >
          <ion-text class="FFR06" style="color: var(--CR004);">
            {{resp?.page_information?.currentPage}}
          </ion-text>
        </ion-row>
      </ion-col>
      <ion-col class="sparator col-pag"  *ngIf="resp?.page_information?.currentPage != resp?.page_information?.totalPage">
        <ion-row justify-content-center>
          <ion-text class="FFR06" style="color: var(--CR003);">
            ...
          </ion-text>
        </ion-row>
      </ion-col>
      <ion-col class="sparator col-pag" *ngIf="resp?.page_information?.currentPage != resp?.page_information?.totalPage" (click)="nextPrev('last')">
        <ion-row justify-content-center >
          <ion-text class="FFR06" style="color: var(--CR003);">
            {{resp?.page_information?.totalPage}}
          </ion-text>
        </ion-row>
      </ion-col>      
      <ion-col class="col-pag">
        <ion-row justify-content-start>
          <ion-button 
          (click)="nextPrev('next')"
          [disabled]="resp?.page_information?.currentPage === resp?.page_information?.totalPage" float-right>
            Next
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>