<ion-header>
  <ion-toolbar color="head">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="FFR08 CR004">Our Members</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <img src="assets/img/bg_4.jpg" class="headerImg" alt="JCOC Music Banner">
  <ion-grid no-padding>
    <ion-row>
      <ion-col size="12">
        <ion-row justify-content-center>
          <ion-text>
            <h1 class="FFR08 CR004">Our Members</h1>
          </ion-text>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid style="margin-right: 1.5%" class="marginku">
    <ion-row>
      <ion-col size="4">
        <ion-item class="show-item CR004">
          <ion-label>Show</ion-label>
          <ion-select interface="popover" [(ngModel)]="page_size" (ionChange)="getMemberList()">
            <ion-select-option value="5">5</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
            <ion-select-option value="15">15</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="8">
        <ion-searchbar class="CR004" showCancelButton="focus" placeholder="Search Members..." debounce="500" [(ngModel)]="search" (ionChange)="getMemberList()"></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="card-content--lists">
    <ion-row justify-content-center>
      <ion-col *ngFor ="let data of listMembers"col-12 col-xl-2 col-lg-3 col-md-4>
        <ion-card class="card_music">
          <ion-row justify-content-center class="topMargin">
            <ion-avatar>
              <img [src]="data.file ? data.file : imgNotFound" />
            </ion-avatar>
            <!-- <img [src]="data.file ? data.file : imgNotFound" alt="" class="yt user-img mb-4"> -->
          </ion-row>
          <ion-row justify-content-center class="topMargin">
            <ion-text class="FFR04">
              {{data?.email}}
            </ion-text>
          </ion-row>
          <ion-card-header>
            <ion-row justify-content-center>
              <ion-card-title class="FFR08">{{data?.name}}</ion-card-title>
            </ion-row>
            <ion-row justify-content-center>
              <ion-card-subtitle class="FFR06">{{data?.position_name}}</ion-card-subtitle>
            </ion-row>
          </ion-card-header>
          <ion-row justify-content-center>
            <ion-card-content>
              <ion-button (click)="detail(data.id)">
                See Profile
              </ion-button>
            </ion-card-content>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid style="padding: 0px !important; margin : 0px, 2px;" class="paginations">
    <ion-row>
      <ion-col class="col-pag">
        <ion-row justify-content-end>
          <ion-button 
          (click)="nextPrev('prev')"
          [disabled]="resp?.page_information?.currentPage === resp?.page_information?.firstPage">
            Prev
          </ion-button>
        </ion-row>
      </ion-col> 
      <ion-col class="sparator col-pag" *ngIf="resp?.page_information?.currentPage != resp?.page_information?.firstPage" (click)="nextPrev('first')">
        <ion-row justify-content-center>
          <ion-text class="FFR06" style="color: var(--CR003);">
            1
          </ion-text>
        </ion-row>
      </ion-col>
      <ion-col class="sparator col-pag">
        <ion-row justify-content-center >
          <ion-text class="FFR06" style="color: var(--CR004);">
            {{resp?.page_information?.currentPage}}
          </ion-text>
        </ion-row>
      </ion-col>
      <ion-col class="sparator col-pag"  *ngIf="resp?.page_information?.currentPage != resp?.page_information?.totalPage">
        <ion-row justify-content-center>
          <ion-text class="FFR06" style="color: var(--CR003);">
            ...
          </ion-text>
        </ion-row>
      </ion-col>
      <ion-col class="sparator col-pag" *ngIf="resp?.page_information?.currentPage != resp?.page_information?.totalPage" (click)="nextPrev('last')">
        <ion-row justify-content-center >
          <ion-text class="FFR06" style="color: var(--CR003);">
            {{resp?.page_information?.totalPage}}
          </ion-text>
        </ion-row>
      </ion-col>      
      <ion-col class="col-pag">
        <ion-row justify-content-start>
          <ion-button 
          (click)="nextPrev('next')"
          [disabled]="resp?.page_information?.currentPage === resp?.page_information?.totalPage" float-right>
            Next
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>