<ion-header>
    <ion-toolbar color="head">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Our Members</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-grid class="searchbar"  no-padding no-margin>
      <ion-row justify-content-center  no-padding no-margin>
        <ion-col col-xl-4 col-lg-3 col-md-4 no-padding no-margin>
          <ion-item lines='none'>
            <ion-label>Show</ion-label>
            <ion-select interface="popover" [(ngModel)]="page_size" name="ionSelect" (ionChange)="getMemberList()">
              <ion-select-option value="5">5</ion-select-option>
              <ion-select-option value="10">10</ion-select-option>
              <ion-select-option value="15">15</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
        <ion-col col-xl-8 col-lg-9 col-md-8 no-padding no-margin>
          <ion-row  justify-content-center>
              <ion-searchbar placeholder="Search Members..." debounce="500" [(ngModel)]="search" (ionChange)="getMemberList()"></ion-searchbar>
          </ion-row>
        </ion-col>
        <!-- <ion-col size="1">
  
        </ion-col> -->
      </ion-row>
    </ion-grid>
  
    <ion-grid class="card-content--lists"  col-12 col-xl-2 col-lg-3 col-md-4>
      <ion-row>
        <ion-col *ngFor ="let data of listMembers"  col-xl-2 col-lg-3 col-md-4>
          <ion-card no-padding no-margin>
            <img  [src]="data.file ? data.file : imgNotFound" alt="" >
           
            <ion-row justify-content-center class="FGR01">
              {{data?.email}}
            </ion-row>
            <ion-card-header>
              <ion-row justify-content-center>
                <ion-card-title class="FFB03 CR005">{{data?.name}}</ion-card-title>
              </ion-row>
              <ion-row justify-content-center>
                <ion-card-subtitle class="FGB03 CR008">{{data?.position_name}}</ion-card-subtitle>
              </ion-row>
            </ion-card-header>
            <ion-row justify-content-center>
              <ion-card-content>
                <ion-button color="warning" (click)="detail(data.id)">
                  See Profile
                </ion-button>
              </ion-card-content>
            </ion-row>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-grid class="paginations">
  
        <ion-row>
          
          <ion-col size=2>
              <ion-button 
              (click)="nextPrev('prev')"
              [disabled]="resp?.page_information?.currentPage === resp?.page_information?.firstPage">
                Prev
              </ion-button>
          </ion-col> 
          <ion-col *ngIf="resp?.page_information?.currentPage != resp?.page_information?.firstPage" (click)="nextPrev('first')">
            <ion-row justify-content-end>
              <ion-button color="warning">
                1
              </ion-button>
            </ion-row>
          </ion-col>
          <ion-col>
            <ion-row justify-content-center >
              <ion-button color="warning" disabled>
                {{resp?.page_information?.currentPage}}
              </ion-button>
            </ion-row>
          </ion-col>
          
          <ion-col size=1 class="sparator"  *ngIf="resp?.page_information?.currentPage != resp?.page_information?.totalPage">
            .....
          </ion-col>
          <ion-col *ngIf="resp?.page_information?.currentPage != resp?.page_information?.totalPage" (click)="nextPrev('last')">
            <ion-row justify-content-center >
              <ion-button color="warning">
                {{resp?.page_information?.totalPage}}
              </ion-button>
            </ion-row>
          </ion-col>      
          <ion-col size=2>
              <ion-button 
              (click)="nextPrev('next')"
              [disabled]="resp?.page_information?.currentPage === resp?.page_information?.totalPage" float-right>
                Next
              </ion-button>
          </ion-col>
        </ion-row>
    </ion-grid>
  </ion-content>
  