.headerImg{
    width: 100%;
    max-height: 50%;
    min-width: 250px;
    position: relative;
}
.card_music{
    width: 100%;
    min-width: 300px;
    min-height : 250px;
    float : inline-start;
}

.yt{
    // --width :250px;
    // max-height: 315px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    // border: solid 4px #fff;
    // display: inline;
    // box-shadow: 0 0 28px rgba(255,255,255, .65);
}

.searchbar{
    max-width: 80%;
}

.marginku{
    // margin: relative;
    position: relative;
}

.thumbnail{
    --size: 100%;
}

.topMargin{
    margin-top: 10px;
}