<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Review Music</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>(Judul Lagu)</ion-card-title>
    <ion-grid>
      <ion-row>
        <ion-col><ion-card-subtitle>(Nama Penyanyi)</ion-card-subtitle></ion-col>
        <ion-col><ion-card-subtitle>Created by : (Nama Author)</ion-card-subtitle></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <iframe class="yt" height="250">
          </iframe>
          <ion-card-title>Lyric</ion-card-title>
          <ion-card-content>Lorem ipsum dolor sit, amet consectetur adipisicing elit. At est reiciendis sit voluptates voluptatem libero sint? Nostrum soluta sit quas eos alias. Saepe quis qui, numquam ab necessitatibus doloribus laborum.</ion-card-content>
        </ion-col>
        <ion-col>
          <ion-card-title>Chord</ion-card-title>
          <ion-card-content>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Maxime quo error repudiandae modi voluptatum suscipit, reiciendis, possimus necessitatibus unde ipsa eos iure recusandae explicabo excepturi quae amet, eaque illo sint.</ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
