<ion-header>
  <ion-toolbar color="head">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Review Music</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data_music">
  <ion-card>
    <ion-card-title>{{data_music?.judul}}</ion-card-title>
    <ion-grid>
      <ion-row>
        <ion-col><ion-card-subtitle>{{data_music?.penyanyi}}</ion-card-subtitle></ion-col>
        <ion-col><ion-card-subtitle>Created by : {{data_music?.user_name}}</ion-card-subtitle></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <iframe class="yt" height="250"
          [src]='data_music?.link'>
          </iframe>
          <ion-card-title>Lyric</ion-card-title>
          <ion-card-content class="spacing">{{data_music?.lirik}}</ion-card-content>
        </ion-col>
        <ion-col>
          <ion-card-title>Chord</ion-card-title>
          <ion-card-content class="spacing">{{data_music?.chord}}</ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>

<ion-content *ngIf="!data_music">
  <ion-card>
    <ion-card-title>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </ion-card-title>
    <ion-grid>
      <ion-row>
        <ion-col><ion-card-subtitle>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-card-subtitle>
        </ion-col>
        <ion-col><ion-card-subtitle>
          Created by : 
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-card-subtitle>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          <ion-card-title >Lyric</ion-card-title>
          <ion-card-content class="spacing">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </ion-card-content>
        </ion-col>
        <ion-col>
          <ion-card-title >Chord</ion-card-title>
          <ion-card-content class="spacing">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
