<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Content</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/img/bg_4.jpg" class="headerImg" alt="JCOC Music Banner">
  <ion-row>
    <ion-col size="12">
      <ion-row justify-content-center>
        <ion-text color="secondary">
          <h1>Add Content</h1>
        </ion-text>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-grid fixed>
    <form id="loginForm" [hidden]="inputForm">
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked" color="primary">Title</ion-label>
            <ion-input [(ngModel)]="content.title" name="title" type="text" spellcheck="false" autocapitalize="off"
              required>
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked" color="primary">Photo</ion-label>
            <ion-input type="file" accept="image/*" (change)="changeFile($event)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button 
          (click)="submit()" 
          type="submit"
          [disabled]="!content.title || !content.image.base64"
          expand="block">
          Add Content
          </ion-button>
          <!-- [disabled]="!dataUser.username || !dataUser.name || !pass || !dataUser.name || !dataUser.email || !dataUser.phone || !dataUser.image.isImage || !position.id || !selectGender.id" -->
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <ion-searchbar showCancelButton="focus" placeholder="Search Members..." debounce="500" [(ngModel)]="search" (ionChange)="getData()"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row class="forecast_container" nowrap>
      <ion-col size="1">
        <ion-row justify-content-center>
          No.
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row justify-content-center>
          Title
        </ion-row>
      </ion-col>
      <ion-col size="4">
        <ion-row justify-content-center>
          Picture
        </ion-row>
      </ion-col>
      <ion-col size="1">
        <ion-row justify-content-center>
          Action
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let content of listContent; index as i" class="forecast_container" nowrap>
      <ion-col size="1" align-self-center>
        <ion-row justify-content-center>
        {{i + 1}}
        </ion-row>
      </ion-col>
      <ion-col align-self-center>
        <ion-row justify-content-center>
          {{content?.title}}
        </ion-row>
      </ion-col>
      <ion-col align-self-center size="4">
        <ion-row justify-content-center>
          <ion-img [src]="content.file ? content.file : imgNotFound"></ion-img>
          <!-- {{user?.email}} -->
        </ion-row>
      </ion-col>
      <ion-col size="1" align-self-center>
        <ion-row justify-content-center>
          <ion-row>
            <ion-col size="12" (click)="deleteContent(content.id)">
              <ion-icon name="trash" size="large"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>