<ion-header>
  <ion-toolbar color="head">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="FFR08">Content</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <img src="assets/img/bg_4.jpg" class="headerImg" alt="JCOC Music Banner">
  <ion-row>
    <ion-col size="12">
      <ion-row justify-content-center>
        <ion-text color="body">
          <h1 class="FFR08">Add Content</h1>
        </ion-text>
      </ion-row>
    </ion-col>
  </ion-row>
  <ion-grid fixed color="light">
    <form id="loginForm" [hidden]="inputForm">
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked" class="FFR08">Title</ion-label>
            <ion-input class="FFR04" [(ngModel)]="content.title" name="title" type="text" spellcheck="false" autocapitalize="off"
              required>
            </ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="stacked" class="FFR08">Photo</ion-label>
            <ion-input class="FFR04" type="file" accept="image/*" (change)="changeFile($event)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button 
          (click)="submit()" 
          type="submit"
          [disabled]="!content.title || !content.image.base64"
          expand="block">
          Add Content
          </ion-button>
          <!-- [disabled]="!dataUser.username || !dataUser.name || !pass || !dataUser.name || !dataUser.email || !dataUser.phone || !dataUser.image.isImage || !position.id || !selectGender.id" -->
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
  <ion-grid fixed color="light">
    <ion-row>
      <ion-col size="12">
        <ion-searchbar class="CR004" showCancelButton="focus" placeholder="Search Members..." debounce="500" [(ngModel)]="search" (ionChange)="getData()"></ion-searchbar>
      </ion-col>
    </ion-row>
    <ion-row class="forecast_container" nowrap>
      <ion-col size="5" class="FFR06">
        <ion-row justify-content-center>
          Title
        </ion-row>
      </ion-col>
      <ion-col class="FFR06">
        <ion-row justify-content-center>
          Picture
        </ion-row>
      </ion-col>
      <ion-col class="FFR06">
        <ion-row justify-content-center>
          Action
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let content of listContent; index as i" class="forecast_container" nowrap>
      <ion-col size="5" align-self-center class="FFR05" text-center>
        <ion-row justify-content-center>
          {{content?.title}}
        </ion-row>
      </ion-col>
      <ion-col align-self-center class="FFR05" text-center>
        <ion-row justify-content-center>
          <ion-thumbnail>
            <img [src]="content.file ? content.file : imgNotFound" />
          </ion-thumbnail>
          <!-- <ion-img [src]="content.file ? content.file : imgNotFound"></ion-img> -->
          <!-- {{user?.email}} -->
        </ion-row>
      </ion-col>
      <ion-col align-self-center class="FFR05" text-center>
        <ion-row justify-content-center>
          <ion-button (click)="deleteContent(content.id)" type="submit">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
          <!-- <ion-icon name="trash" size="large"></ion-icon> -->
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>