ion-grid.user-detail{
    margin: 2vmax;

    & ion-card{
        margin: auto;
        border-radius: 8px;
        margin-bottom: 2vmax;
        border-radius: 50%;
            
        & img{
            width: 20vmax;
            height: 20vmax;
            object-fit: scale-down;
            background: var(--CR002);
            border-radius: 50% !important;
        }

        &.content{
            padding: 1vmax;
            box-shadow: var(--CR004);
            border: 1px solid;
            border-radius: 8px;

            & ion-row{
                margin-bottom: 2vmax;
                border-bottom: 1px solid var(--CR004);
                padding-bottom: 5px;
                opacity: 0.9;
            }
        }
    }
}