<ion-header>
  <ion-toolbar color="head">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>User Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="resp">
    <ion-grid class="user-detail">
      <ion-row>
        <ion-card>
            <img [src]="resp?.file ? resp.file : imgNotFound">
        </ion-card>
      </ion-row>
    </ion-grid>
    <ion-grid  class="user-detail">
      <ion-card class="content FFR04 CR004">
        <ion-row>
            <ion-col size="3" no-padding no-margin>
              Name
            </ion-col>
            <ion-col size="9" no-padding no-margin>
            {{resp?.name}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3" no-padding no-margin>
              Telephone
            </ion-col>
            <ion-col size="9" no-padding no-margin>
            {{resp?.phone ? resp?.phone : '-'}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3" no-padding no-margin>
              Email
            </ion-col>
            <ion-col size="9" no-padding no-margin>
            {{resp?.email}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3" no-padding no-margin>
              Position
            </ion-col>
            <ion-col size="9" no-padding no-margin>
            {{resp?.position_name}}
            </ion-col>
          </ion-row>
      </ion-card>
    </ion-grid>
</ion-content>

<ion-content *ngIf="!resp" color="light">
  <ion-card>
    <ion-card-title color="body">
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
    </ion-card-title>
    <ion-grid>
      <!-- <ion-row>
        <ion-col><ion-card-subtitle>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-card-subtitle></ion-col>
        <ion-col><ion-card-subtitle color="light">
          Created by : 
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
        </ion-card-subtitle></ion-col>
      </ion-row> -->
      <ion-row>
        <!-- <ion-col>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          <ion-card-title color="light">Lyric</ion-card-title>
          <ion-card-content class="spacing">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </ion-card-content>
        </ion-col> -->
        <ion-col>
          <ion-card-title>Name</ion-card-title>
          <ion-card-content class="spacing">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </ion-card-content>
          <ion-card-title>Telephone</ion-card-title>
          <ion-card-content class="spacing">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </ion-card-content>
          <ion-card-title>Email</ion-card-title>
          <ion-card-content class="spacing">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </ion-card-content>
          <ion-card-title>Position</ion-card-title>
          <ion-card-content class="spacing">
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
