.card_schedule{
    width: 315px;
    height : 515px;
    float : inline-start;
}

.yt{
    width :315px;
    height:315px;
}

.searchbar{
    max-width: 80%;
}

.marginku{
    // margin: relative;
    position: relative;
}