<ion-header>
    <ion-toolbar color="head">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Schedules</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid class="searchbar">
        <ion-searchbar placeholder="Search Schedules..." debounce="500" [(ngModel)]="search" (ionChange)="getDataSchedule()"></ion-searchbar>
    </ion-grid>
  
    <ion-grid class="card-content--lists schedules" no-padding no-margin size="12">
      <ion-row justify-content-center>
        <ion-col *ngFor ="let data of listSchedule" size="auto" col-12 col-xl-2 col-lg-3 col-md-4>
          <ion-card no-padding no-margin>
            <img [src]="data.file ? data.file : imgNotFound" alt="">
            <ion-card-header>
              <ion-row>
                <ion-col size="12"  no-padding no-margin class="FFR03 ellipsis CR005">{{data.event_name}}</ion-col>
                <ion-col size="12"  text-right class="FFR01 CR008"  no-padding no-margin>{{data.event_date | date: 'EEE, MMM d, y'}}</ion-col>
              </ion-row>
            </ion-card-header>
            <ion-item class="footer" lines="none" float-right  no-padding no-margin>
                <ion-button (click)="sendIdSchedule(data.id)" class="FFR01 BTN001" type="submit" >View Shedule</ion-button>
            </ion-item>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-grid style="padding: 0px !important; margin : 0px, 2px;" class="paginations">
      <ion-row>
        <ion-col class="col-pag">
          <ion-row justify-content-end>
            <ion-button 
            (click)="nextPrev('prev')"
            [disabled]="resp?.page_information?.currentPage === resp?.page_information?.firstPage">
              Prev
            </ion-button>
          </ion-row>
        </ion-col> 
        <ion-col class="sparator col-pag" *ngIf="resp?.page_information?.currentPage != resp?.page_information?.firstPage" (click)="nextPrev('first')">
          <ion-row justify-content-center>
            <ion-text class="FFR06" style="color: var(--CR003);">
              1
            </ion-text>
          </ion-row>
        </ion-col>
        <ion-col class="sparator col-pag">
          <ion-row justify-content-center >
            <ion-text class="FFR06" style="color: var(--CR004);">
              {{resp?.page_information?.currentPage}}
            </ion-text>
          </ion-row>
        </ion-col>
        <ion-col class="sparator col-pag"  *ngIf="resp?.page_information?.currentPage != resp?.page_information?.totalPage">
          <ion-row justify-content-center>
            <ion-text class="FFR06" style="color: var(--CR003);">
              ...
            </ion-text>
          </ion-row>
        </ion-col>
        <ion-col class="sparator col-pag" *ngIf="resp?.page_information?.currentPage != resp?.page_information?.totalPage" (click)="nextPrev('last')">
          <ion-row justify-content-center >
            <ion-text class="FFR06" style="color: var(--CR003);">
              {{resp?.page_information?.totalPage}}
            </ion-text>
          </ion-row>
        </ion-col>      
        <ion-col class="col-pag">
          <ion-row justify-content-start>
            <ion-button 
            (click)="nextPrev('next')"
            [disabled]="resp?.page_information?.currentPage === resp?.page_information?.totalPage" float-right>
              Next
            </ion-button>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  
