<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Schedules</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-row justify-content-center>
    <ion-searchbar color="medium" placeholder="Search Schedule" class="searchbar" debounce="500" [(ngModel)]="search"></ion-searchbar>
  </ion-row>
  <ion-grid style="margin-right: 1.5%" class="marginku">
    <ion-row justify-content-center>
      <ion-col *ngFor ="let data of listSchedule" size="md">
        <ion-card class="card_schedule" color="medium">
          <img class="yt" [src]="data.file ? data.file : imgNotFound" alt="">
          <ion-card-header>
            <ion-card-title color="light">{{data.event_name}}</ion-card-title>
            <ion-card-subtitle>{{data.event_date | date: 'EEE, MMM d, y'}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
              <ion-button (click)="sendIdSchedule(data.id)" type="submit" color="warning">View Shedule</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="hide-mobile">
        <ion-row justify-content-start>
          <ion-button 
          (click)="nextPrev('prev')"
          [disabled]="resp?.page_information?.currentPage === resp?.page_information?.firstPage">
            Prev
          </ion-button>
        </ion-row>
      </ion-col>
      <ion-col *ngIf="resp?.page_information?.currentPage === resp?.page_information?.firstPage">
        <ion-row justify-content-end>
            
        </ion-row>
      </ion-col>
      <ion-col *ngIf="resp?.page_information?.currentPage != resp?.page_information?.firstPage" (click)="nextPrev('first')">
        <ion-row justify-content-end>
          <ion-button color="warning">
            1
          </ion-button>
        </ion-row>
      </ion-col>
      <ion-col >
        <ion-row justify-content-center>
          <ion-button color="warning" disabled>
            {{resp?.page_information?.currentPage}}
          </ion-button>
        </ion-row>
      </ion-col>
      <ion-col *ngIf="resp?.page_information?.currentPage != resp?.page_information?.totalPage" (click)="nextPrev('last')">
        <ion-row justify-content-start >
          <ion-button color="warning">
            {{resp?.page_information?.totalPage}}
          </ion-button>
        </ion-row>
      </ion-col>
      <ion-col *ngIf="resp?.page_information?.currentPage === resp?.page_information?.totalPage">
        <ion-row justify-content-start >
            
        </ion-row>
      </ion-col>
      <ion-col class="hide-mobile">
        <ion-row justify-content-end>
          <ion-button 
          (click)="nextPrev('next')"
          [disabled]="resp?.page_information?.currentPage === resp?.page_information?.totalPage">
            Next
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="hide-desktop">
      <ion-col>
        <ion-row justify-content-start>
          <ion-button 
          (click)="nextPrev('prev')"
          [disabled]="resp?.page_information?.currentPage === resp?.page_information?.firstPage">
            Prev
          </ion-button>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row justify-content-end>
          <ion-button 
          (click)="nextPrev('next')"
          [disabled]="resp?.page_information?.currentPage === resp?.page_information?.totalPage">
            Next
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
