<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Schedule</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-grid fixed color="dark">
    <form id="updateScheduleForm">
      <ion-row>
        <ion-col size="12">
          <ion-item color="dark">
            <ion-label position="stacked">Event Name</ion-label>
            <ion-input [(ngModel)]="dataSchedule.event_name" name="title" type="text" spellcheck="false" autocapitalize="off"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item color="dark">
            <ion-label>Date</ion-label>
            <ion-datetime display-format="DD-MM-YYYY" [(ngModel)]="dataSchedule.event_date" name="event_date"></ion-datetime>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item color="dark">
            <ion-label position="stacked">Event Picture</ion-label>
            <ion-input type="file" accept="image/*" (change)="changeFile($event)"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-label position="stacked">Song Leader</ion-label>
          <ionic-selectable
          [(ngModel)]="songLeader"
          [items]="listMembers.song_leader"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="true"
          [isMultiple]="true"
          name="song_leader"
          >
          </ionic-selectable>
        </ion-col>
        <ion-col size="6">
          <ion-label position="stacked">Singer</ion-label>
          <ionic-selectable
          [(ngModel)]="singer"
          [items]="listMembers.vokalis"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="true"
          [isMultiple]="true"
          name="singer"
          >
          </ionic-selectable>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-label position="stacked">Gitaris</ion-label>
          <ionic-selectable
          [(ngModel)]="gitaris"
          [items]="listMembers.gitaris"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="true"
          name="gitaris"
          >
          </ionic-selectable>
        </ion-col>
        <ion-col size="6">
          <ion-label position="stacked">Basis</ion-label>
          <ionic-selectable
          [(ngModel)]="basis"
          [items]="listMembers.basis"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="true"
          name="basis"
          >
          </ionic-selectable>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-label position="stacked">Pianis</ion-label>
          <ionic-selectable
          [(ngModel)]="pianis"
          [items]="listMembers.pianis"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="true"
          name="pianis"
          >
          </ionic-selectable>
        </ion-col>
        <ion-col size="6">
          <ion-label position="stacked">Drummer</ion-label>
          <ionic-selectable
          [(ngModel)]="drummer"
          [items]="listMembers.drummer"
          itemValueField="id"
          itemTextField="name"
          [canSearch]="true"
          name="drummer"
          >
          </ionic-selectable>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-label position="stacked">Music</ion-label>
          <ionic-selectable
          [(ngModel)]="music"
          [items]="listMusics"
          itemValueField="id"
          itemTextField="judul"
          [canSearch]="true"
          [isMultiple]="true"
          name="music"
          >
          </ionic-selectable>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button 
          (click)="submit()" 
          type="submit" 
          expand="block"
          color="warning">
          Add Schedule
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
