<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Review Article</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <!-- <ion-card-title>{{data_article?.title}}</ion-card-title> -->
  <img src="" alt="">
  <ion-card-title>Title</ion-card-title>
    <ion-grid>
      <ion-row>
        <ion-col><ion-card-subtitle>Created by : </ion-card-subtitle></ion-col>
        <ion-col><ion-card-subtitle>Date</ion-card-subtitle></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>  
          <ion-card-content class="spacing">Content</ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
