<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Review Article</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <!-- <ion-card-title>{{data_article?.title}}</ion-card-title> -->
  <img [src]="dataArticle?.file" alt="">
  <ion-card-title>{{dataArticle?.title}}</ion-card-title>
    <ion-grid>
      <ion-row>
        <ion-col><ion-card-subtitle>Created by : {{dataArticle?.name}}</ion-card-subtitle></ion-col>
        <ion-col><ion-card-subtitle>{{dataArticle?.createdAt | date: 'EEE, MMM d, y'}}</ion-card-subtitle></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>  
          <ion-card-content class="spacing">{{dataArticle?.content}}</ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
