<ion-header>
  <ion-toolbar color="head">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="FFR08">Review Article</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-card color="light">
  <!-- <ion-card-title>{{data_article?.title}}</ion-card-title> -->
  <ion-row justify-content-center>
    <img [src]="dataArticle?.file" class="headerImg" alt="">
  </ion-row>
  <ion-card-title class="FFR08">{{dataArticle?.title}}</ion-card-title>
    <ion-grid color="light">
      <ion-row>
        <ion-col><ion-card-subtitle class="FFR04">Created by : {{dataArticle?.name}}</ion-card-subtitle></ion-col>
        <ion-col><ion-card-subtitle>
          <ion-row justify-content-end>
            <ion-text class="FFR04">
              {{dataArticle?.createdAt | date: 'EEE, MMM d, y'}}
            </ion-text>
          </ion-row>
        </ion-card-subtitle></ion-col>
      </ion-row>
      <ion-row>
        <ion-col>  
          <ion-card-content class="spacing FFR06">
            <!-- <ion-text > -->
              {{dataArticle?.content}}
            <!-- </ion-text> -->
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>
