<ion-header>
  <ion-toolbar color="head">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="FFR08">Edit Member</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <form id="loginForm">
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">Name</ion-label>
          <ion-input [(ngModel)]="dataUser.name" name="name" type="text" spellcheck="false" autocapitalize="off"
            required>
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">Username</ion-label>
          <ion-input [(ngModel)]="dataUser.username" name="username" type="text" spellcheck="false" autocapitalize="off"
            required>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input [(ngModel)]="pass" name="password" type="password" spellcheck="false" autocapitalize="off"
            required>
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">Phone</ion-label>
          <ion-input [(ngModel)]="dataUser.phone" name="phone" type="text" spellcheck="false" autocapitalize="off"
            required>
          </ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item>
        <ion-label position="stacked">Position</ion-label>
        <ionic-selectable
        [(ngModel)]="position"
        [items]="listPostions"
        itemValueField="id"
        itemTextField="position_name"
        [canSearch]="true"
        name="position"
        >
        </ionic-selectable>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
        <ion-label position="stacked">Gender</ion-label>
        <ionic-selectable
        [(ngModel)]="selectGender"
        [items]="gender"
        itemValueField="id"
        itemTextField="name"
        [canSearch]="true"
        name="gender"
        >
        </ionic-selectable>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input [(ngModel)]="dataUser.email" name="email" type="text" spellcheck="false" autocapitalize="off"
            required>
          </ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item>
          <ion-label position="stacked">Photo</ion-label>
          <ion-input type="file" accept="image/*" (change)="changeFile($event)"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button 
        (click)="submit()" 
        type="submit" 
        [disabled]="!dataUser.username || !dataUser.name || !dataUser.name || !dataUser.email || !dataUser.phone || !position.id || !selectGender.id"
        expand="block">
        Update Member
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
