/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@mixin font-size($sizeValue) {

    @media  only screen and (min-width: 360px){
        font-size: calc(#{$sizeValue+px} - 0.20vw) !important;
    }

    @media  only screen and (min-width: 375px){
        font-size: calc(#{$sizeValue+px}) !important;
    }

    @media  only screen and (min-width: 414px){
        font-size: calc(#{$sizeValue+px} + 0.20vw) !important;
    }
    @media  only screen and (min-width: 504px){
        font-size: calc(#{$sizeValue+px} + 0.30vw) !important;
    }
}

// .hide-mobile {
//     // background: silver;
// }
ion-app{
    color:var(--CR005);

    & ion-tab-bar.footer-nav--container {
        height: 45px;
    }
}

@media (max-width: 600px) {
    .hide-mobile {
        display: none;
    }
}
@media (min-width: 601px) {
    .hide-desktop {
        display: none;
    }
}

app-dashboard.ion-page{
    padding:0px;
    margin:0px;

}

ion-title{
    color: var(--CR001);
    padding: 0px !important;
    margin-left: 1vmax !important;
}
app-login.ion-page {
    position: absolute;
    transform: translateY(20%);

}
app-home.ion-page{

    & .login-logo{

        & img {
            width: 50px;
            margin: 0px 2vmax;
        }      
    }

    & .active {
        --ion-text-color: var(--CR004);  
        --color: var(--CR004) !important;

    
        ion-icon {
            --ion-text-color-rgb:  var(--CR004);
        }

        & ion-label{
            
            --ion-text-color: var(--CR004);  
            --color: var(--CR004) !important;
        }
    }
    .parent-active {
        font-weight: 500;
    }
    

}

/*fix later*/ app-allmusic.ion-page , 
app-articles-all.ion-page, 
app-dashboard.ion-page,
app-all-user.ion-page,
app-user-detail.ion-page,
app-all-schedule.ion-page{
    & ion-header{

        &  ion-toolbar{
            // --background: var(--CR005);
            color : var(--CR001);
        }
    }
    & ion-content{
        display: block;
        width: 100%;

        & ion-grid{

            &.searchbar{
                border-bottom-right-radius: 8px;
                border-bottom-left-radius: 8px;
                display: block;
                position: fixed;
                width: 100%;
                z-index: 11;
                top: 43px;
                opacity: 1;
                --background: white;
                margin: 0px;
                padding: 0px;
                height: 50px;
                background: white;
                border-bottom: 1px solid var(--CR004);

                & ion-searchbar{
                        padding:0px 1vmax;
                        border-radius: 8px;
                        margin-top: 2px;
                    
                        & .searchbar-input-container{
                            margin: auto;
                            border: 1px solid var(--CR004);
                            border-radius: 1vmax;
                            --background: var(--CR001);
                            display: table-cell;
                    
                            & .searchbar-input{
                                color: var(--CR003);
                                border-radius: 8px;
                            }
                        }
                }
            }

            &.card-content--lists{
                margin-top: 32px;

                & ion-card{
                    border: 1px solid var(--CR004);
                    padding-bottom: 1vmax;

                    & iframe{
                        min-width: 100%;
                        width: -webkit-fill-available;
                        border-radius: inherit;
                        max-width: unset;
                        height: 25vmax;
                        margin: 0.5vmax;
                    }
                    & img{
                        min-width: 100%;
                        max-width: unset;
                        border-radius: inherit;
                        height: 25vmax;
                        margin: 0.5vmax;
                        width: -webkit-fill-available;
                        max-width: 100% ;
                        object-fit: contain;
                    } 
                    & .header{

                        & .title{
                            min-height: 4vmax
                        }
                        & .subtitle{
                            margin-top: 0.5vmax;
                        }
                    }

                    & ion-card-header{
                        padding: 1vmax;

                        & ion-card-title{
                            min-height: 4vmax;
                        }
                        & ion-card-subtitle{
                            margin-top: 0.5vmax;
                        }
                    }
                    & ion-card-content{
                        margin: 0px 1.5vmax 1vmax 1.5vmax;
                        min-height: 48px;
                        padding: 0px !important;
                    }
                }
            }

            &.paginations{

                & ion-button{
                    max-width: 100%;
                }
                ion-text:hover{
                    cursor:pointer;
                }
                & .sparator{
                    margin: auto;
                    text-align: center;
                    vertical-align: bottom;
                    display: table
                }
            }

            // &.pagination{
                
            //     padding-left: 1vmax;
            //     ion-text:hover{
            //         cursor:pointer;
            //     }

            // }
        }
    }
}

app-all-user.ion-page{
    & ion-content{

        & ion-grid{

            &.card-content--lists{

                & ion-card{
                    border: 1px solid var(--CR004);
                    min-height: 10vmax;
                    padding-bottom: 1vmax;
                    margin: 0px !important;

                    // & img{
                    //     min-width: 100%;
                    //     max-width: unset;
                    //     border-radius: 50%;
                    //     height: 25vmax;
                    //     margin: 0.5vmax;
                    //     width: -webkit-fill-available;
                    //     max-width: 100% ;
                    // }
                }
            }
        }
    }
}

app-add-music.ion-page , app-add-schedule.ion-page, app-add-user.ion-page, app-articles-add.ion-page, app-content.ion-page{

    & ion-content{

        & .headerImg{
            width: 100% !important;
            height: 25vmax !important;
            position: relative;
        }

        & ion-item{
            border-radius: 1vmax;
        }

        & ion-grid{

            width:98%;

            //later
            // & .item-input{
            //     height: 70px !important;
            // }

            & .show-item{
                border-radius: 3px !important;
                height: 70px !important;
            }

            & ion-searchbar{
                padding:0px !important;
                .searchbar-input-container{
                    .searchbar-input{
                        border-radius: 3px !important;
                        height:48.5px !important;
                        box-shadow: none !important;
                        border-bottom: 1.5px solid #DBDBDB;
                    }
                }
            }

            & ion-row{

                margin-left:0px !important;
                margin-right:0px !important;
            }

            & .forecast_container{
                overflow-x: scroll !important;
                overflow-y: hidden;
                word-wrap: break-word;
                margin: 15px;
                border-bottom: 1px black solid;
                // height:20vw;
                font-size:1em;
                // font-weight:300;
            }

            &.paginations{

                & ion-button{
                    max-width: 100%;
                }
                ion-text:hover{
                    cursor:pointer;
                }
                & .sparator{
                    margin: auto;
                    text-align: center;
                    vertical-align: bottom;
                    display: table
                }
            }
        }
    }
}

app-all-user.ion-page{

    & ion-content{

        & .headerImg{
            width: 100% !important;
            height: 25vmax !important;
            position: relative;
        }

        & ion-grid{

            & .show-item{
                border-radius: 3px !important;
                height: 70px !important;
            }

            & ion-searchbar{
                padding:0px !important;
                .searchbar-input-container{
                    .searchbar-input{
                        border-radius: 3px !important;
                        height:48.5px !important;
                        box-shadow: none !important;
                        border-bottom: 1.5px solid #DBDBDB;
                    }
                }
            }
        }
    }
}

app-edit-music.ion-page, app-member-update.ion-page, app-articles-update.ion-page, app-schedule-update.ion-page{

    & ion-content{

        & ion-item{
            border-radius: 1vmax;

            & ion-label{
                @include font-size(22);
                font-family: 'Futura - Regular' !important;
            }

            & ion-input, & ion-textarea, & ion-datetime{
                @include font-size(14);
                font-family: 'Futura - Regular' !important;
            }
        }
    }
}