/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// .hide-mobile {
//     // background: silver;
// }
ion-app{
    color:var(--CR005);
}

@media (max-width: 600px) {
    .hide-mobile {
        display: none;
    }
}
@media (min-width: 601px) {
    .hide-desktop {
        display: none;
    }
}

app-dashboard.ion-page{
    padding:0px;
    margin:0px;

}

ion-title{
    color: var(--CR001);
}

app-home.ion-page{

    & .login-logo{

        & img {
            width: 80px;
            margin: auto;
        }      
    }

    & .active {
        --ion-text-color: var(--CR004);  
        --color: var(--CR004) !important;

    
        ion-icon {
            --ion-text-color-rgb:  var(--CR004);
        }

        & ion-label{
            
            --ion-text-color: var(--CR004);  
            --color: var(--CR004) !important;
        }
    }
    .parent-active {
        font-weight: 500;
    }
    

}
ion-searchbar.searchbar{
    padding:0px 1vmax;
    margin: 0px;

    & .searchbar-input-container.sc-ion-searchbar-ios{
        margin: auto;
        border: 1px solid var(--CR004);
        border-radius: 1vmax;
        --background: var(--CR001);
        display: table-cell;

        & .searchbar-input{
            color: var(--CR003);
        }
    }
}

app-allmusic.ion-page , app-articles-all.ion-page, app-dashboard.ion-page{
        
    & ion-content{

        & ion-grid{

            &.searchbar{
                border-bottom-right-radius: 8px;
                border-bottom-left-radius: 8px;
                display: block;
                position: fixed;
                width: 100%;
                z-index: 11;
                top: 43px;
                opacity: 1;
                --background: white;
                margin: 0px;
                height: 55px;
                padding: 0px;
                background: white;
                border-bottom: 1px solid var(--CR005);

                & ion-searchbar{
                    padding-top: 0px !important;
                    padding-bottom: 7px !important;
                }
            }

            &.card-content--lists{

                & ion-card{
                    border: 1px solid var(--CR004);
                    min-height: 42vmax;
                    padding-bottom: 1vmax;

                    & iframe{
                        width: -webkit-fill-available;
                        border-radius: inherit;
                        height: 25vmax;
                        margin: 0.5vmax;
                    }
                    & img{
                        min-width: 100%;
                        max-width: unset;
                        border-radius: inherit;
                        height: 25vmax;
                        margin: 0.5vmax;
                        width: -webkit-fill-available;
                        max-width: 100% ;
                    } 

                    & ion-card-header{
                        margin: 1vmax 1.5vmax;
                        padding: 0px;

                        & ion-card-title{
                            min-height: 4vmax;
                        }
                        & ion-card-subtitle{
                            margin-top: 0.5vmax;
                        }
                    }
                    & ion-card-content{
                        padding: 0px;
                        margin: 0px 1.5vmax 1vmax 1.5vmax;
                        min-height: 57px;
                    }
                }
            }

            &.paginations{

                & ion-button{
                    max-width: 100%;
                }
                & .sparator{
                    margin: auto;
                    text-align: center;
                    vertical-align: bottom;
                    display: table
                }
            }
        }
    }

}