<!-- <script type="text/javascript">
  players = new Array();

  function onYouTubeIframeAPIReady() {
      var temp = $("iframe.yt_players");
      for (var i = 0; i < temp.length; i++) {
          var t = new YT.Player($(temp[i]).attr('id'), {
              events: {
                  'onStateChange': onPlayerStateChange
              }
          });
          players.push(t);
      }
  }
  onYouTubeIframeAPIReady();

  function onPlayerStateChange(event) {
      if (event.data == YT.PlayerState.PLAYING) {
          var temp = event.target.a.src;
          var tempPlayers = $("iframe.yt_players");
          for (var i = 0; i < players.length; i++) {
              if (players[i].a.src != temp) 
                  players[i].stopVideo();
          }
      }
  }
</script> -->

<ion-header>
  <ion-toolbar color="head">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-row>
        <ion-col size="12" text-center>
          <div class="dashboard-logo" color="dark">
            <img src="assets/img/LG02.png" alt="Ionic logo">
          </div>
        </ion-col>
      </ion-row>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="content">

  <!-- <script src="assets/js/youtube.js"></script> -->

  <ion-grid class="slider" no-padding no-margin>
    <ion-slides 
      [options]="slideOpts" 
      class="content" 
      loop="true" 
      speed="500" 
      pager="true" 
      autoplay="5000"
      #mySlider 
      (ionSlidesDidLoad)="ionSlidesDidLoad()"
      *ngIf="respContent">
      <ion-slide *ngFor="let img of contentList" >
        <ion-row>
          <ion-col size="12">
            <div class="box">
              <img [src]="img?.file ? img.file : imgNotFound" alt="">
              <p class="content-text">{{img.title}}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-slide>
    </ion-slides>
  </ion-grid>

  <ion-grid class="search" no-padding no-margin>
    <ion-row justify-content-center>
      <ion-col size="12" no-padding no-margin>
        <ion-row justify-content-center>
            <ion-searchbar placeholder="Search Music..." class="searchbar" debounce="500" [(ngModel)]="search" (ionChange)="getMusicList()"></ion-searchbar>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="card-content--lists">
    <ion-row>
      <ion-col *ngFor ="let data of safeUrl" col-12 col-xl-2 col-lg-3 col-md-4 > 
        <ion-card no-padding no-margin>
          <iframe class="yt_players" id="data.vidId" [src]="data.url">
          </iframe>
          <div class="header">
            <div class="title FFR06">{{data.title}}</div>
            <div class="subtitle FFR04">{{data.artist}}</div>
          </div>
          <ion-item class="footer " lines="none" float-right   no-padding no-margin>
              <ion-button (click)="sendIdMusic(data.id)" type="submit" class="FFR01 BTN001"  >View Lyrics</ion-button>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- <ion-grid no-padding no-margin class="card-content--lists"> -->
    <!-- <ion-row justify-content-center>
      <ion-col *ngFor ="let data of safeUrl" col-12 col-xl-2 col-lg-3 col-md-4>
        <ion-card  no-padding no-margin>
          <iframe [src]="data.url"></iframe>
          <ion-card-header>
            <ion-card-title>{{data.title}}</ion-card-title>
            <ion-card-subtitle>{{data.artist}}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-button (click)="sendIdMusic(data.id)" type="submit">View Lyrics</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> -->

    <!-- <ion-row>
      <ion-col class="hide-mobile">
        <ion-row justify-content-start>
          <ion-button 
          (click)="nextPrev('prev')"
          [disabled]="resp?.page_information?.currentPage === resp?.page_information?.firstPage">
            Prev
          </ion-button>
        </ion-row>
      </ion-col>
      <ion-col *ngIf="resp?.page_information?.currentPage === resp?.page_information?.firstPage">
        <ion-row justify-content-end>
            
        </ion-row>
      </ion-col>
      <ion-col *ngIf="resp?.page_information?.currentPage != resp?.page_information?.firstPage" (click)="nextPrev('first')">
        <ion-row justify-content-end>
          <ion-button color="warning">
            1
          </ion-button>
        </ion-row>
      </ion-col>
      <ion-col >
        <ion-row justify-content-center>
          <ion-button color="warning" disabled>
            {{resp?.page_information?.currentPage}}
          </ion-button>
        </ion-row>
      </ion-col>
      <ion-col *ngIf="resp?.page_information?.currentPage != resp?.page_information?.totalPage" (click)="nextPrev('last')">
        <ion-row justify-content-start >
          <ion-button color="warning">
            {{resp?.page_information?.totalPage}}
          </ion-button>
        </ion-row>
      </ion-col>
      <ion-col *ngIf="resp?.page_information?.currentPage === resp?.page_information?.totalPage">
        <ion-row justify-content-start >
            
        </ion-row>
      </ion-col>
      <ion-col class="hide-mobile">
        <ion-row justify-content-end>
          <ion-button 
          (click)="nextPrev('next')"
          [disabled]="resp?.page_information?.currentPage === resp?.page_information?.totalPage">
            Next
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="hide-desktop">
      <ion-col>
        <ion-row justify-content-start>
          <ion-button 
          (click)="nextPrev('prev')"
          [disabled]="resp?.page_information?.currentPage === resp?.page_information?.firstPage">
            Prev
          </ion-button>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row justify-content-end>
          <ion-button 
          (click)="nextPrev('next')"
          [disabled]="resp?.page_information?.currentPage === resp?.page_information?.totalPage">
            Next
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row> -->
  <!-- </ion-grid> -->
  
  <!-- Jangan dihapus dulu yaa -->
  <!-- <ion-grid no-padding no-margin class="pagination">
    <ion-row justify-content-center>
      <ion-col>
        <ion-row justify-content-start>
          <ion-button (click)="nextPrev('next')">
            <ion-icon name="skip-backward"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row justify-content-center>
          <ion-button (click)="nextPrev('next')">
            <ion-icon name="arrow-dropleft"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row justify-content-center>
          <ion-button (click)="nextPrev('next')">
            1
          </ion-button>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row justify-content-center>
          <ion-button (click)="nextPrev('next')">
            2
          </ion-button>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row justify-content-center>
          <ion-button (click)="nextPrev('next')">
            3
          </ion-button>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row justify-content-center>
          <ion-button (click)="nextPrev('next')">
            4
          </ion-button>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row justify-content-center>
          <ion-button (click)="nextPrev('next')">
            <ion-icon name="arrow-dropright"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row justify-content-end>
          <ion-button (click)="nextPrev('next')">
            <ion-icon name="skip-forward"></ion-icon>
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid> -->


  <!-- Ini yang dulu -->
  <ion-grid style="padding: 0px !important; margin : 0px, 2px;" class="paginations">
    <ion-row>
      <ion-col class="col-pag">
        <ion-row justify-content-end>
          <ion-button 
          (click)="nextPrev('prev')"
          [disabled]="resp?.page_information?.currentPage === resp?.page_information?.firstPage">
            Prev
          </ion-button>
        </ion-row>
      </ion-col> 
      <ion-col class="sparator col-pag" *ngIf="resp?.page_information?.currentPage != resp?.page_information?.firstPage" (click)="nextPrev('first')">
        <ion-row justify-content-center>
          <ion-text class="FFR06" style="color: var(--CR003);">
            1
          </ion-text>
        </ion-row>
      </ion-col>
      <ion-col class="sparator col-pag">
        <ion-row justify-content-center >
          <ion-text class="FFR06" style="color: var(--CR004);">
            {{resp?.page_information?.currentPage}}
          </ion-text>
        </ion-row>
      </ion-col>
      <ion-col class="sparator col-pag"  *ngIf="resp?.page_information?.currentPage != resp?.page_information?.totalPage">
        <ion-row justify-content-center>
          <ion-text class="FFR06" style="color: var(--CR003);">
            ...
          </ion-text>
        </ion-row>
      </ion-col>
      <ion-col class="sparator col-pag" *ngIf="resp?.page_information?.currentPage != resp?.page_information?.totalPage" (click)="nextPrev('last')">
        <ion-row justify-content-center >
          <ion-text class="FFR06" style="color: var(--CR003);">
            {{resp?.page_information?.totalPage}}
          </ion-text>
        </ion-row>
      </ion-col>      
      <ion-col class="col-pag">
        <ion-row justify-content-start>
          <ion-button 
          (click)="nextPrev('next')"
          [disabled]="resp?.page_information?.currentPage === resp?.page_information?.totalPage" float-right>
            Next
          </ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- ini yang baru tapi rancangan cadangan aja jadinya -->
  <!-- <ion-grid no-padding no-margin class="pagination">
        <ion-row justify-content-center>
          <ion-col>
            <ion-text class="FFR06" *ngIf="resp?.page_information?.currentPage != resp?.page_information?.firstPage">Previous</ion-text>  
          </ion-col>
          <ion-col>
            <ion-text class="FFR06" *ngIf="resp?.page_information?.currentPage != resp?.page_information?.firstPage">1</ion-text>  
          </ion-col>
          <ion-col>
            <ion-text class="FFR06" style="color:#044e79;">{{resp?.page_information?.currentPage}}</ion-text>  
          </ion-col>
          <ion-col>
            <ion-text class="FFR06">...</ion-text>  
          </ion-col>
          <ion-col>
            <ion-text class="FFR06">{{resp?.page_information?.totalPage}}</ion-text>  
          </ion-col>
          <ion-col>
            <ion-text class="FFR06" *ngIf="resp?.page_information?.currentPage != resp?.page_information?.totalPage">Next</ion-text>  
          </ion-col>
        </ion-row>
  </ion-grid> -->

</ion-content>