// .content{
//     // max-height: 50%;
//     // display: block;
//     height: 50%;
// }

// .box{
//     width: 100%;
//     height: 315px;
//     position: relative;
// }
// .box img{
//     width: 100%;
//     height:100%;
// }
// p{
//     position: absolute;
//     background-color:rgba(0,0,0,0.5);
//     width: 300px;
//     min-height: 50px;
//     border-radius: 10px;
//     padding-top: 10px;
// }

// .tengah{
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%);
//     -webkit-transform: translate(-50%);
//     -moz-transform: translate(-50%);
//     -o-transform: translate(-50%);
//     color: #ffff;
// }

// .card_music{
//     width: 315px;
//     min-height : 315px;
//     float : inline-start;
// }

// .yt{
//     width :315px;
//     max-height: 315px;
// }

ion-content{
    background: red !important;

    & ion-grid{

        &.slider{

            & ion-slides{
                max-height: 30vmax;

                & .swiper-wrapper{

                    & .swiper-pagination-bullets{
                       
                        & .swiper-pagination-bullet{
                            
                            background: var(--CR001);
                            opacity: 1;
                        }
                   }
                }

                & ion-row{

                    & ion-col{

                        & .box{

                            & img{
                                
                                object-fit: cover !important;
                                height: 25vmax !important;
                                margin: auto;
                                width: 100%;
                                border: 1px solid var(--CR005);
                                border-radius: 2px;
                            }

                            & .content-text{
                                transform: translateY(-15vmax) !important;
                                border-radius: 8px;
                                border: 1px solid var( --CR004);
                                display: block;
                                color: #044e79;
                                z-index: 1000;
                                text-align: center;
                                margin: 0px 10px;
                                opacity: 0.85;
                                background: var( --CR002);
                            }
                        }
                    }
                }
            }
        }

        // &.card-music{

        //     & ion-card{
        //         width: 35vmax;
        //         margin: 0.5vmax;
        //         border: 1px solid var(--CR004);
        //         padding: 0.5vmax;
        //         min-height: 40vmax;

        //         & iframe{
        //             width: 100%;
        //             border-radius: inherit;
        //             height: 25vmax;
        //         }

        //         & ion-card-header{
        //             margin: 1vmax 1.5vmax;
        //             padding: 0px;
        //         }
        //         & ion-card-content{
        //             padding: 0px;
        //             margin: 0px 1.5vmax 0px;
        //             float: right;

        //             & ion-button{
        //                 --border: none !important
        //             }
        //         }
        //     }
        // }

        &.search{

            & ion-searchbar{
                width: 90%;
                margin-top: 1vmax;
                margin-bottom: 1vmax;
                border: 5px;
                border-color:blue;
            }
        }
    }
}

.col-pag{
    padding: 0px !important;
}