<ion-menu contentId="content" *ngIf="hasLogin" color="dark">

    <ion-header>
      <ion-toolbar class="title">
        <ion-title>
          <div class="login-logo" color="dark">
            <img src="assets/img/LG01.png" alt="Ionic logo">
          </div>
        </ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
  
      <div *ngFor="let p of pages">
  
        <!-- Standard Menu Item -->
        <ion-menu-toggle *ngIf="p.url" [hidden]="p.hidden" color="light">
          <ion-item [routerLink]="p.url" routerDirection="root" routerLinkActive="active">
            <ion-icon [name]="p.icon" slot="start"></ion-icon>
            <ion-label  class="FFR05 CR005">
              {{ p.title }}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>

        <!-- Item with Children -->
        <ion-item button *ngIf="p.children?.length > 0" (click)="p.open = !p.open" [class.parent-active]="p.open" detail="false" [hidden]="p.hidden">
          <ion-icon slot="start" name="arrow-forward" *ngIf="!p.open"></ion-icon>
          <ion-icon slot="start" name="arrow-down" *ngIf="p.open"></ion-icon>
          <ion-label class="FFR05 CR005">{{ p.title }}</ion-label>
        </ion-item>
  
        <!-- Children List for clicked Item -->
        <ion-list *ngIf="p.open" [hidden]="p.hidden">
          <ion-menu-toggle>
            <ion-item *ngFor="let sub of p.children" class="sub-item" [routerLink]="sub.url" routerDirection="root"
              routerLinkActive="active">
              <ion-icon [name]="sub.icon" slot="start"></ion-icon>
              <ion-label class="FFR03 CR005">
                {{ sub.title }}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
  
      </div>
    </ion-content>
  
  </ion-menu>
  
  <ion-router-outlet id="content" main></ion-router-outlet>
  <ion-tabs color="head" class="footer-nav">
    <ion-tab-bar slot="bottom"  color="head" class="footer-nav--container">
        <ion-tab-button tab="all-music">
              <img src="assets/icon/video.png" alt="Ionic logo">
        </ion-tab-button>
        <ion-tab-button tab="dashboard">
            <img src="assets/icon/home.png" alt="Ionic logo">
        </ion-tab-button>
        <ion-tab-button tab="articles-all">
            <img src="assets/icon/article.png" alt="Ionic logo">
        </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>